* {
    box-sizing: border-box;
    transition: all 0.5s;
}

body, html{
    margin: 0;
}

body{
    min-height: 100vh;
}

body{
    position: relative;
}


h1,h2,h3,h4,h5,h6{
    margin: 0;
    color: $text-primary-color;
}

p{
    margin: 0;
    color: $text-primary-color;
}

label{
    margin: 0;
    color: $text-primary-color;
}

.text-center{
    text-align: center;
}

.text-primary{
    color: $text-primary-color;
}

.text-secondary{
    color: $text-secondary-color;
}

hr{
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.pad-5{
    padding: 5px;
}

.pad-10{
    padding: 10px;
}

.pad-20{
    padding: 20px;
}

.pad-rl-5{
    padding-right: 5px;;
    padding-left: 5px;
}

.pad-rl-10{
    padding-right: 10px;;
    padding-left: 10px;
}

.pad-rl-20{
    padding-right: 20px;;
    padding-left: 20px;
}

.pad-tb-5{
    padding-top: 5px;
    padding-bottom: 5px;
}

.pad-tb-10{
    padding-top: 10px;
    padding-bottom: 10px;
}

.pad-tb-15{
    padding-top: 15px;
    padding-bottom: 15px;
}

.pad-tb-20{
    padding-top: 20px;
    padding-bottom: 20px;
}