* {
    box-sizing: border-box;
    transition: all 0.5s;
}

body, html{
    margin: 0;
    width: 100%;
    height: 100%;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

p{
    margin: 0;
}

.text-primary{
    color: $text-primary-color;
}

.text-secondary{
    color: $text-secondary-color;
}

hr{
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.pad-5{
    padding: 5px;
}