$bg-primary-color: #0a061a;
$bg-secondary-color: #383c48;


$text-primary-color: #f5f5f5;
$text-secondary-color: #C8CCD8;
$text-grayed-color: #706666;

$primary: #027eef;
$primary-transparent: #027eef20;
$secondary: #434552;
$secondary-transparent: #43455220;
$warning: #eb9b34;
$warning-transparent: #eb9b3420;
$danger: #9c0000;
$danger-transparent: #9c000020;
$success: #018511;
$success-transparent: #01851120;
