main.main-container{
    background-image: linear-gradient($bg-secondary-color, $bg-primary-color);
    min-height: 100vh;
    position: relative;
    padding-bottom: 60px;
    padding-left: 80px;
    padding-top: 20px;
    padding-right: 20px;

    div.background-image{
        position: absolute;
        opacity: 0.05;
        left: -5%;
    }

    div.content{
        position: relative;
        z-index: 2;
    }
}